
.card {
    background-color: #F8F8FF;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 340px;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    text-align: center;
}

.most-popular {
    font-size: 15px;
    font-weight: 700;
    background-color: #9b59b6;
    color: #fff;
    padding: .25em 1rem;
    border-radius: 15px;
    text-transform: uppercase;
}

.free {
    border-top: 6px solid #1abc9c;
}

.basic {
    border-top: 6px solid #3498db;
}

.medium {
    border-top: 6px solid #ec5244;
}

.pro {
    border-top: 6px solid #ec5244;
}
.card-description,
.card-billing,
.card-features,
.card-action {
    padding: 15px;
}

.card-description h2 {
    font-size: 26px;
    margin-bottom: .5rem;
}

.card-billing {
    background-color: #ecf0f1;
}
.card-billing p {
    margin-bottom: .5rem;
}

.card-billing .price {
    font-size: 32px;
    font-weight: 700;
}

.card-features {
    min-height: 150px;
}


.card-features-list {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}
.card-features-list p {
    font-size: 17px;
}

.card-action button {
    border: 3px solid #3498db;
    background-color: transparent;
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: .5rem 0;
    width: 100%;
    transition: .3s ease all;
}

.card-action button:hover {
    transition: .3s ease all;
    background-color: #3498db;
    color: #fff;
}

