/* width */
::-webkit-scrollbar {
  width: 10px;
  max-height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
