.title-text-container {
    width: 285px;
    position: relative;
    line-height: 1.06;
    font-weight: 900;
    letter-spacing: 5px;
    height: 240px;
}

.left-container {
    transform: translate(-134px);
    border-right: 1px solid #F8F8FF;
}
.right-container {
    transform: translate(150px);
    border-left: 1px solid #F8F8FF;
    padding-left: 30px;
}

h1 {
    background: -webkit-linear-gradient(left, #eee, #403f3f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
